*.idea
*build
cmake-build-debug
tests_exe
parse_results.py
run_all.sh
/Project/.idea/
Task3/trie
/Project/build/
/.vscode/
/data/
/doc/
/Project/tests_exe/
/Report/
/Task4_kt/.idea/
Task4_kt/.idea/encodings.xml
Task4_kt/.idea/inspectionProfiles/profiles_settings.xml
Task4_kt/.idea/inspectionProfiles/Project_Default.xml
Task4_kt/.idea/kotlinc.xml
Task4_kt/.idea/misc.xml
Task4_kt/.idea/vcs.xml
/Task4_kt/target/
/Task2/a.out
/Task5_roofline/delta_eval_bench
/Task8_cpp/resources/
/Task8_cpp/mycompressor.exe
/Task9/target/
